* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(#006f8b 40%, #51ff00);
	background-repeat: no-repeat;
	height:900px;
}

.login {
	font-size: 70px;
	color:rgba(115, 255, 0, 0.514);
	text-align: center;
	margin-top: 60px;
}

.a {
	background-color:aliceblue;
	border: hidden;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	width: 50vw;
	height: 480px;
	padding-top: 80px;
}

.b {
	padding-top:10px;
}

.font {
	font-size: 30px;
	font-family: sans-serif;
}

.pass {
	margin-top: 80px;
}

.forget {
	font-size: 20px;
	position: absolute;
	left: 26.5%;
	top: 600px;
	font-family: sans-serif;
}

.register {
	font-size: 20px;
	position: absolute;
	right: 26.5%;
	top: 600px;
	font-family: sans-serif;
}

input {
	background-color: transparent;
	border: 3px groove;
	width: 60%;
	padding: 3px;
}

.confirm {
	background-color:rgba(169, 169, 169, 0.233);
	width: 15%;
	margin-top: 20px;
	cursor: pointer;
}